<div class="animated fadeIn">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="card-group mb-0">
                    <div class="card p-2">
                        <div class="card-block"> 
                            <h3><i class="icon-wrench"></i> Pengaturan SPPD</h3>
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home3" role="tab" aria-controls="home"><i class="icon-paper-clip"></i> Tanda Tangan</a>
                                </li>
                                <li class="nav-item">
                                    <a id="jabPegTab" class="nav-link tabAjax" data-toggle="tab" href="#jabPegTabchild" role="tab" aria-controls="jabPegTabchild"><i class="icon-people"></i> Jabatan Pegawai</a>
                                </li>
                                <li class="nav-item">
                                    <a id="biaya2Tab" class="nav-link tabAjax" data-toggle="tab" href="#biaya2Tabchild" role="tab" aria-controls="biaya2Tabchild"><i class="icon-wallet"></i> Biaya-Biaya</a>
                                </li>
                                <li class="nav-item">
                                    <a id="tiketPesawatTab" class="nav-link tabAjax" data-toggle="tab" href="#tiketPesawatTabchild" role="tab" aria-controls="tiketPesawatTabchild"><i class="icon-plane"></i> Biaya Tiket</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="home3" role="tabpanel">
                                    <div class="col-md-5">   
                                        <div class="form-group row">
                                        <h6><i class="icon-user-follow"></i> Penanda Tangan Surat Tugas</h6> 
                                            <div class="input-group">
                                                <input id="addTtdST" name="nama" class="form-control" placeholder="Ketikkan nama" required>
                                                <span class="input-group-btn">
                                                    <button type="submit" class="btn btn-primary">+</button>
                                                </span>
                                            </div>                                    
                                        </div>
                                    </div>                           
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="35%">Nama</th>
                                                <th width="20%">Pilihan</th>
                                            </tr>
                                        </thead>
                                        <tbody>                                            
                                        {{#each ttdST}}
                                            <tr nip="{{nip}}" jenis="ttdST">
                                                <td>{{nama}}</td>
                                                <td>
                                                    <select id="select" name="ttd_surat_tugas" class="form-control input-lg jab" size="1">
                                                    {{#each jabatan}}
                                                        <option index="{{@index}}" value="{{this}}" {{#if_eq @index ../sppd_st_index}}selected{{/if_eq}}>{{this}}</option>
                                                    {{/each}}
                                                    </select>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary default" {{#if_eq nip ../st.nip}}disabled='disabled'{{/if_eq}}><i class="icon-pin"></i></button>
                                                    <button type="button" class="btn btn-primary del"><i class="icon-user-unfollow"></i></button>
                                                </td>
                                            </tr>
                                        {{/each}}  
                                        </tbody>
                                    </table>  

                                    <div class="col-md-5">   
                                        <div class="form-group row">
                                            <h6><i class="icon-user-follow"></i> Penanda Tangan Legalitas</h6>
                                            <div class="input-group">
                                                <input id="addTtdL" name="nama" class="form-control" placeholder="Ketikkan nama" required>
                                                <span class="input-group-btn">
                                                    <button type="submit" class="btn btn-primary">+</button>
                                                </span>
                                            </div> 
                                        </div>
                                    </div>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th width="35%">Nama</th>
                                                        <th width="20%">Pilihan</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {{#each ttdL}}
                                                    <tr nip="{{nip}}" jenis="ttdL">
                                                        <td>{{nama}}</td>
                                                        <td >
                                                            <button type="button" class="btn btn-primary default" {{#if_eq nip ../l.nip}}disabled='disabled'{{/if_eq}}><i class="icon-pin"></i></button>
                                                            <button type="button" class="btn btn-primary del"><i class="icon-user-unfollow"></i></button>
                                                        </td>
                                                    </tr>
                                                {{/each}}                                            
                                                </tbody>
                                            </table>
                                    <div class="col-md-5">   
                                        <div class="form-group row">
                                            <h6><i class="icon-user"></i> Pejabat Pembuat Komitmen</h6>
                                            <div class="input-group">
                                                <input type="text" id="ppk" name="nama" class="form-control" placeholder="Ketikkan nama" value="{{#with ppk}}{{nama}}{{/with}}" required>
                                                <span class="input-group-btn">
                                                    <button id="setPPK" type="submit" class="btn btn-primary">+</button>
                                                </span>
                                            </div> 
                                        </div>
                                    </div> 
                                    <div class="col-md-5">   
                                        <div class="form-group row">
                                            <h6><i class="icon-user"></i> Bendahara Pengeluaran STIS</h6>
                                            <div class="input-group">
                                                <input type="text" id="bendahara_nama" name="nama" class="form-control" placeholder="Ketikkan nama" value="{{#with bendahara}}{{nama}}{{/with}}" required>
                                                <span class="input-group-btn">
                                                    <button id="setBend" type="submit" class="btn btn-primary">+</button>
                                                </span>
                                            </div> 
                                        </div>
                                    </div> 
                                </div>
                                <div class="tab-pane" id="jabPegTabchild" role="tabpanel">
                                </div>
                                <div class="tab-pane" id="biaya2Tabchild" role="tabpanel">
                                </div>
                                <div class="tab-pane" id="tiketPesawatTabchild" role="tabpanel">
                                </div>
                            </div>                                               
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.row-->
</div>

<script src="/js/bootstrap-tokenfield.js"></script>

<script src="/js/typeahead.bundle.min.js"></script>

<script src="/js/jquery.toaster.js"></script>

<script src="/js/mindmup-editabletable.js"></script>

<script src="/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    loadCSS("/css/typeahead.css");

    function getHtml(tabId) {
        return $.ajax({
          url: 'sppd/pengaturan/ajax/',
          type: "get",
          data: {tabId}
        });
    }

    $.fn.formatUang = function () {
        return this.each(function(){
            $(this).text($(this).text().replace(/\B(?=(\d{3})+(?!\d))/g, "."));
        })
    }

    $(".tabAjax").click(function(){
        var id = $(this).attr('id');
        getHtml(id).done(function(data) {
            $('#'+id+'child').html(data); 

            $('.money').formatUang(); 

            if(id != 'jabPegTab'){

                if(id == "tiketPesawatTab"){

                    $('#tiket').DataTable({
                        aaSorting: [],
                        rowReorder: {
                            enable: false
                        }
                    });

                } else{

                    $('#provinsi').DataTable({
                        aaSorting: [],
                        rowReorder: {
                            enable: false
                        }
                    });

                }

                $('#provinsi, #tiket').editableTableWidget();

                $('#provinsi, #tiket').editableTableWidget({
                    cloneProperties: ['background', 'border', 'outline']
                });

                $('table td').on('change', function(evt, newValue) {
                    // do something with the new cell value 
                    if (newValue == "") { 
                        return false; // reject change
                    }

                    newValue = newValue.replace(/\./g, '');

                    $.ajax({
                        url : "/sppd/pengaturan/biaya/"+$(this).attr('jenis'),
                        type: "POST",
                        data: {name : $(this).closest('tr').attr('name'), price: newValue},
                        success: function (data) {
                            $.toaster({ priority : 'success', title : 'Sukses', message : 'Berhasil diubah'});
                        },
                        error: function (jXHR, textStatus, errorThrown) {
                            $.toaster({ priority : 'warning', title : 'Gagal', message : 'Gagal diubah'});
                        }
                    });
                });

                $('#kabupaten').typeahead({
                  hint: true,
                  highlight: true,
                  minLength: 1
                },
                {
                  source: function(q, p){
                        {
                            return $.getJSON(
                                '/sppd/ajax/kabupaten',
                                { query: q, prov: $('#provinsi').val()},
                                function (data) {
                                    states = [];
                                    map = {};

                                    var data = $.map( data, function(e,i){
                                        var regEx = new RegExp(".*"+q+".*", "i");
                                        if(regEx.test(e.label)){
                                            return e;
                                        }
                                    }); 

                                    $.each(data, function (i, state) {
                                        map[state.label] = state;
                                        states.push(state.label);
                                    });

                                    var states = $.map(states, function (string) { return { value: string }; });

                                    return p(states);
                                });
                        }
                      }
                });

                $('#tiketAdd').on('submit', function(e) {
                    e.preventDefault();
                    $("#tambah_tiket").html('<i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>'+$("#tambah_tiket").text());
                    $.ajax({
                        url : $(this).attr('action'),
                        type: "POST",
                        data: $(this).serialize(),
                        success: function (data) {
                            $.toaster({ priority : 'success', title : 'Sukses', message : 'Berhasil ditambah'});
                            $("#tambah_tiket").html('Tambah');
                        },
                        error: function (jXHR, textStatus, errorThrown) {
                            $("#tambah_tiket").html('Tambah');
                            $.toaster({ priority : 'warning', title : 'Gagal', message : 'Gagal ditambah'});
                        }
                    });
                });  

            } else{

                $(".jab").on("change", function(){
                    $.ajax({
                        url : "/sppd/pengaturan/index/"+$(this).closest('tr').attr('jenis') || window.location.pathname,
                        type: "POST",
                        data: {nip : $(this).closest('tr').attr('nip'), index: $(this).find(":selected").attr('index')},
                        success: function (data) {
                            $.toaster({ priority : 'success', title : 'Sukses', message : 'Berhasil diubah'});
                        },
                        error: function (jXHR, textStatus, errorThrown) {
                            $.toaster({ priority : 'warning', title : 'Gagal', message : 'Gagal diubah'});
                        }
                    });
                });

            } 
            
        });
    })

    $('#ppk, #addTtdST, #addTtdL, #bendahara_nama').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      source: function(q, p){
            {
                return $.getJSON(
                    '/sppd/ajax/pegawai',
                    { query: q },
                    function (data) {
                        states = [];
                        map = {};

                        $.each(data, function (i, state) {
                            map[state.stateName] = state;
                            states.push(state.nama);
                        });

                        var states = $.map(states, function (string) { return { value: string }; });

                        return p(states);
                    });
            }
          }
        });

    $('#ttdSTForm, #ttdLForm, #ppkForm, #bendForm').on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            url : $(this).attr('action'),
            type: "POST",
            data: $(this).serialize(),
            success: function (data) {
                $('#pengaturanSPPD').trigger('click');
            },
            error: function (jXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });

    $(".del").click(function(){
        var target = $(this).closest('tr');
        $.ajax({
            url : "/sppd/pengaturan/del/"+$(this).closest('tr').attr('jenis'),
            type: "POST",
            data: {nip : target.attr('nip')},
            success: function (data) {
                $.toaster({ priority : 'success', title : 'Sukses', message : 'Berhasil dihapus'});
                target.remove();
            },
            error: function (jXHR, textStatus, errorThrown) {
                $.toaster({ priority : 'warning', title : 'Gagal', message : 'Gagal dihapus'});
            }
        });
    });

    $(".default").click(function(){
        var element = $(this);
        var prev = element.closest('tr').siblings().find("[disabled='disabled']");
        var target = element.closest('tr');
        $.ajax({
            url : "/sppd/pengaturan/default/"+element.closest('tr').attr('jenis'),
            type: "POST",
            data: {nip : target.attr('nip')},
            success: function (data) {
                prev.removeAttr('disabled');
                element.attr('disabled', 'disabled');
                $.toaster({ priority : 'success', title : 'Sukses', message : 'Berhasil diubah'});
            },
            error: function (jXHR, textStatus, errorThrown) {
                $.toaster({ priority : 'warning', title : 'Gagal', message : 'Gagal diubah'});
            }
        });
    });

    $(".jab").on("change", function(){
        $.ajax({
            url : "/sppd/pengaturan/index/"+$(this).closest('tr').attr('jenis') || window.location.pathname,
            type: "POST",
            data: {nip : $(this).closest('tr').attr('nip'), index: $(this).find(":selected").attr('index')},
            success: function (data) {
                $.toaster({ priority : 'success', title : 'Sukses', message : 'Berhasil diubah'});
            },
            error: function (jXHR, textStatus, errorThrown) {
                $.toaster({ priority : 'warning', title : 'Gagal', message : 'Gagal diubah'});
            }
        });
    });

    $(document).on('click keyup', 'a.paginate_button, input, th', function () {        
        $('#provinsi, #tiket').editableTableWidget();

        $('#provinsi, #tiket').editableTableWidget({
            cloneProperties: ['background', 'border', 'outline']
        });
    });

    $(document).on('click keyup', 'a.paginate_button, input, th', function () {         
        // do something with the new cell value
        if (newValue == "") { 
            return false; // reject change
        }

        newValue = newValue.replace(/\./g, '');

        $.ajax({
            url : "/sppd/pengaturan/biaya/"+$(this).attr('jenis'),
            type: "POST",
            data: {name : $(this).closest('tr').attr('name'), price: newValue},
            success: function (data) {
                $.toaster({ priority : 'success', title : 'Sukses', message : 'Berhasil diubah'});
            },
            error: function (jXHR, textStatus, errorThrown) {
                $.toaster({ priority : 'warning', title : 'Gagal', message : 'Gagal diubah'});
            }
        });
    });
</script>